<html>
    <head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>
            Pizarra
        </title>
        <style>
			  
        </style>
        <!--<link rel="shortcut icon" href="imagenes/favicon.ico" type="image/x-icon">
        <link rel="icon" href="imagenes/favicon.ico" type="image/x-icon">	-->
        
		<script src="https://code.jquery.com/jquery.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="application/javascript" src="../controler/login.js"></script>
        
        <script type="text/javascript">

            var mail = "";
            var mip = "";

            $(document).ready(function() {
                
            });

        </script>
        <style>
            
        </style>
        
    </head>
    <body id="mibody">
    
        <div id="result">HOLA</div>
    </body>
</html>